node_modules/
__pycache__/
.idea/
dist/
terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate.d/**/*
account.json
infra/common/plugin_*
infra/**/*.log
data_retriever/otmplugin/*
.terraform/
*-terraform.tfvars
terraform.tfvars
plugins/*
!plugins/.gitkeep
