node_modules/
.idea/
dist/
terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate.d/**/*
account.json
infra/common/plugin_*
.terraform/
*-terraform.tfvars
terraform.tfvars
plugins/*
!plugins/.gitkeep
