aws_access_key       = ""
aws_region           = ""
aws_secret_key       = ""
aws_s3_bucket_prefix = ""
aws_cognito_user_pool_id = ""
aws_cognito_user_pool_client_id = ""
google_project_id    = ""
google_region        = ""
google_bigquery_dataset_location = ""
google_storage_location = ""
