__pycache__/
.chalice/deployments/
.chalice/deployed.json
.chalice/venv/
.chalice/config.json
.chalice/policy-*.json
.chalice/deployed/*
chalicelib/otmplugins/*
!.chalice/policy-sample.json
npm-debug.log
